* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

:root{
  --bg-clr: linear-gradient(180deg, rgba(221, 88, 214, 0.20) 0%, rgba(221, 88, 214, 0.00) 100%), #40128B;
}

.main-container{
  height: 100dvh;
  width: 100%;
  background: var(--bg-clr);
}